<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Patua+One|Quicksand&display=swap" rel="stylesheet">

		<title>Mutual Messenger Host</title>
		<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../static/style.css">

		<script src="/webjars/jquery/jquery.min.js"></script>
		<script src="/webjars/sockjs-client/sockjs.min.js"></script>
		<script src="/webjars/stomp-websocket/stomp.min.js"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			let roomNumber = /*[[${roomNumber}]]*/ 'ERROR';
			/*]]>*/

			let roomType = 'host';
		</script>
        <script src="/rooms.js"></script>

    </head>
    <body>
        <div class="flex-box">
            <div id="pageTitle">Mutual Messenger</div>
        </div>
        <div id="roomName">
            <span id="label">Room Name:</span>
            <span th:text="${roomName}"> defaultRoomName </span>
        </div>
        <div class="flex-box">
            <table class="info-table" border="1">
                <tr>
                    <td>Partner Status:</td><td id='partner-status' th:text="${roomName}">partnerOnline</td>
                </tr>
            </table>
            <table class="info-table" border="1">
                <tr>
                    <td>Your Status:</td><td th:text="${roomName}">youConnected</td>
                </tr>
            </table>
        </div>
        <div class='flex-box' id='response-status'>
            <tr>
                <td></td><td th:text="${hostName}">partnerResponded</td>
            </tr>
            <tr>
                <td></td><td th:text="${hostName}">youResponded</td>
            </tr>
        </div>
		<div class="flex-box">
			<button id="yes-btn" class="btn btn-default">Yes</button>
			<button id="no-btn" class="btn btn-default">No</button>
		</div>


	</body>
</html>
