<!DOCTYPE html>
<html>
    <head>
        <title>Mutual Messenger</title>
				<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
				<link href="/style.css" rel="stylesheet">
				<script src="/webjars/jquery/jquery.min.js"></script>
				<script src="/webjars/sockjs-client/sockjs.min.js"></script>
				<script src="/webjars/stomp-websocket/stomp.min.js"></script>
				<script src="/app.js"></script>
				</head>
    <body>
        <button id="connectButton" class="btn btn-default">Connect</button>
    </body>
</html>
